/*-----------------------------conf global------------------*/
*{
    margin: 0;    /*establece el margen (espacio fuera del borde) de todos los elementos en 0.*/
    padding: 0;   /*establece el relleno (espacio dentro del borde) de todos los elementos en 0.*/
    box-sizing: border-box; /*especifica que el ancho y el alto de un elemento deben incluir el relleno y el borde, pero no el margen.*/
    text-decoration: none; /*elimina cualquier subrayado u otras decoraciones de texto en los elementos.*/
	/*CHEQUIAR TIPOGRAFIA CON EL EQUIPO*/
}
/*--------------------------conf CONTENEDOR # 1------------------*/
body{
	margin: 0;
    background: #ffffff; /*establece el color de fondo del elemento del cuerpo //CHEQUIAR FONDO CON EL EQUIPO*/
	
}

header{
    width: 100%;
    height: 90px;
    background-color:#146C94;
}
header.abajo{
	background: #fff;
	padding: 15px 20px;
}
.cabecera{
    max-width: 100%;
    padding: 0 10px;
    margin: auto;
}

/*CABECERA---establece el ancho máximo al 100 %, agrega un relleno de 10 píxeles a los lados izquierdo y derecho y centra el elemento horizontalmente configurando los márgenes izquierdo y derecho en automático.*/

.logo{
    float: left; /*se utiliza para colocar una imagen de logotipo a la izquierda*/
    padding: 5px 30px 0; /*paddingde 5px en la parte superior, 10pxa la derecha y 0en la parte inferior.*/
}
.logo img{
    height: 130px; /*tamañologo*/
}


.logo img:hover{
	transform: scale(1.1);
}

.navegacion{
	float: right;
	width: auto;
	margin: 30px auto;
	
}

.navegacion ul{
	list-style: none;
	padding: 0  10px;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
	text-transform: uppercase; /*texto en mayuscula*/
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 145%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	text-transform: uppercase; /*texto en mayuscula*/
	text-align: left;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}



/*------------------- Banner deL CONTENEDOR #1 ---------------*/
/*---ponerle un cover a la img (background-size: cover; animation-duration: 5000ms;----*/

.contenedor-1{
	max-width: auto;
	margin: auto;
}

/* boton----------------*/
button{
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 5px;
	border: 2px solid rgba(34, 117, 243, 0.3);
	box-shadow: 2px 2 px 18 px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	background-color: #146C94;
}

button:hover{
	background-color: #045980;
}

/*--------------------------------------------------*/

